@{
    ViewData["Title"] = "dotnet core 社区";
}


@model TopicListViewModel

<div class="main clearfix row ">
    <div class="content-area  col-md-9 ">

        <div class="topics">
            <div class="topic-tags">
                <a href="#">全部</a>
            </div>

            <div class="topic-list">

                @foreach (var item in Model.List)
                {
                    <div class="list-item clearfix">
                        <a asp-route="user" asp-route-id="@(item.User?.UserName)" class="avatar" title="@(item.User?.UserName)"><img src="@(item.User?.Email.GeneralAvatarUrl())" /></a>

                        <span class="meta-count" title="回复@(item.ReplyedCount) / 查看@(item.ViewedCount)">@item.ReplyedCount/@item.ViewedCount</span>

                        <span class="meta-tags">@(item.Tags?.Name)</span>

                        <a asp-route="topic" asp-route-id="@item.Id" class="title">@item.Title</a>

                        @if (item.LastReply != null)
                        {
                            <span class="pull-right reply">
                                <a asp-route="user" asp-route-id="@(item.LastReply.User?.UserName)" class="reply-avatar"><img src="@(item.LastReply.User?.Email.GeneralAvatarUrl())" /></a>
                                <span class="reply-time">@item.LastReply.CreationTime.ToHumanityString()</span>
                            </span>
                        }
                    </div>
                }

            </div>
        </div>

        <pager data="@Model.List" show-first-page="Never" show-last-page="Never" />

    </div>

    <div class="widget-area col-md-3  ">
        <partial name="_WidgetPartial" />
    </div>
</div>