
@{
    ViewData["Title"] = "用户信息";
}

@model UserFullInfoViewModel

<div class="panel panel-default">
    <div class="panel-heading">用户信息</div>
    <div class="panel-body user-info">
        <div href="#" class="avatar">
            <GAvatar email="@Model.Email" /> @Model.Email
        </div>

        <p>0 积分</p>
        <p>0个话题收藏</p>

        <p Condition="@(!string.IsNullOrWhiteSpace(Model.SiteUrl))"><span class="fa fa-home"></span> <a href="@Model.SiteUrl" target="_blank">@Model.SiteUrl</a></p>
        <p Condition="@(!string.IsNullOrWhiteSpace(Model.City))"><span class="fa fa-map-marker"></span> @Model.City</p>
        <p Condition="@(!string.IsNullOrWhiteSpace(Model.WeiboId))"><span class="fa fa-weibo"></span> <a href="https://weibo/@Model.WeiboId" target="_blank">@Model.WeiboId</a></p>
        <p Condition="@(!string.IsNullOrWhiteSpace(Model.GitHubId))"><span class="fa fa-github"></span> <a href="https://github.com/@Model.GitHubId" target="_blank">@Model.GitHubId</a></p>

        <p class="register-time"> 注册时间 @Model.CreationTime.ToHumanityString()</p>

    </div>
</div>



<vc:user-last-topic></vc:user-last-topic>


<vc:user-joined-topic></vc:user-joined-topic>

